html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}
/* Header */
.headerIndex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid black;
  height: 3rem;
}
.navIndex {
  display: flex;
  flex-direction: row;
}
.linksIndex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0;
}
.linksIndex li {
  padding: 1rem;
  list-style-type: none;
  cursor: pointer;
}
/* Main */
.mainIndex {
  flex: 1;
  display: flex;
  flex-direction: row;
  height: fit-content;
}
.mainIndex article {
  height: 80%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  justify-content: center;
}
.mainIndex aside {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.imagenAside {
  width: 80%;
  height: auto;
}

/* Footer */

.footerIndex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
}
